/* The main styles. */

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color:#444;
}

label {
  display: block;
}

a {
  color:#47c9af;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a.title {
  margin-top:10px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color:#444;
}

.menu {
  width: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.menu ul,
.menu ul li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
}

.menu ul li {
  border: 2px solid #47c9af;
  border-radius: 5px;
  margin-top: 7px;
}

.menu > ul > li > a {
  padding: 7px 15px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.menu > ul > li > a:hover {
  background: #47c9af;
  color: #fff;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:15px;
}

.picture-container {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.picture {
  width: 100%;
  /*min-width: 120px;*/
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.picture img {
  text-align: center;
  margin: 0 auto;
  width:100%;
  border-radius: 8px;
  border: 3px solid transparent;
}

.search-box {
  margin-top:8px;
}

.search-box label {
  margin-bottom:3px;
}

input {
  width: 90%;
  padding: 5px;
  border: 1px solid #47c9af;
  border-radius: 5px;
  line-height: 1.5em;
}

input:focus{
  outline: none;
  box-shadow: 0 0 5px #47c9af;
  border-color: #47c9af;
}

.picture img.sent {
  border-color: #47c9af;
}

.leave-picback .picture img {
  cursor:pointer;
}

/* Media queries */

/* Custom, iPhone Retina */
@media only screen and (min-width : 340px) {
  .picture {
    padding:10px;
    width: 42%;
  }
  .picture img {
    text-align: center;
    margin: 0 auto;
    width:auto;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  a.title {
    display:block;
    font-size: 40px;
  }
  input {
    width: 60%;
  }
  .picture {
    width: 20%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .picture {
    width: 18%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
